@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: linear-gradient(
    135deg,
    #0f172a 0%,
    #172554 50%,
    #020617 100%
  );
  color: white;
}

/* Smooth animations */
* {
  transition: all 0.25s ease;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}